.container{
  width: 100%;
  height: 100%;
}
.loading_container{
  height: calc(100vh - 95px);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__area{
  text-align: right;
  margin-bottom: 30px;
  padding: 0 5.5em;
}
.pagination__area button {
  margin-left: 1.3em;
}

@media (max-width: 600px) {
  .pagination__area{
    padding: 0 1em;
  }
}