.buttonDefault{
  font-size: 1em;
  background: #fff;
  color: palevioletred;
  padding: 0.45em 1.2em;
  border: 1px solid palevioletred;
  border-radius: 3px;
  cursor: pointer;
}

.primary{
  background: palevioletred;
  color: #fff;
}
.secondary{
  background: #fff;
  color: palevioletred;
}